spring:
  datasource:
    url: jdbc:h2:mem:database
    username: database
    password: password
  jpa:
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  liquibase:
    change-log: classpath:db/master.xml
    contexts: dev
